@font-face {
  font-family: Familiar;
  src: url("@/assets/fonts/Familiar_Pro_Bold.otf");
}
@font-face {
  font-family: PhysisBlack;
  src: url("@/assets/fonts/RNSPhysis-Black.ttf");
}
@font-face {
  font-family: PhysisBold;
  src: url("@/assets/fonts/RNSPhysis-Bold.ttf");
}

@font-face {
  font-family: PhysisThin;
  src: url("@/assets/fonts/RNSPhysis-Thin.ttf");
}

@font-face {
  font-family: PhysisLight;
  src: url("@/assets/fonts/RNSPhysis-Light.ttf");
}

@font-face {
  font-family: PhysisBold;
  src: url("@/assets/fonts/RNSPhysis-Medium.ttf");
}

@font-face {
  font-family: UniSansHeavyIt;
  src: url("@/assets/fonts/UniSansHeavyIt.otf");
}
